<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name></display-name>
	
	<error-page>
		<error-code>404</error-code>
		<location>/html/404.html</location>
	</error-page>
	
	<error-page>
    	<error-code>500</error-code>
    	<location>/html/message.jsp</location>
	</error-page>
	
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.findu.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AppDownloadServlet</servlet-name>
		<servlet-class>com.findu.servlet.AppDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ApplyServlet</servlet-name>
		<servlet-class>com.findu.servlet.ApplyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>InfoChangeServlet</servlet-name>
		<servlet-class>com.findu.servlet.InfoChangeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginOutServlet</servlet-name>
		<servlet-class>com.findu.servlet.LoginOutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PostGoodServlet</servlet-name>
		<servlet-class>com.findu.servlet.PostGoodServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.findu.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.findu.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.findu.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ChangePassServlet</servlet-name>
		<servlet-class>com.findu.servlet.ChangePassServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.findu.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>test</servlet-name>
		<servlet-class>com.findu.servlet.test</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ChangePostServlet</servlet-name>
		<servlet-class>com.findu.servlet.ChangePostServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DelApplyServlet</servlet-name>
		<servlet-class>com.findu.servlet.DelApplyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ChangeApplyServlet</servlet-name>
		<servlet-class>com.findu.servlet.ChangeApplyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DealApplyServlet</servlet-name>
		<servlet-class>com.findu.servlet.DealApplyServlet</servlet-class>
	</servlet>
	<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.findu.servlet.CheckServlet</servlet-class>
  	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AJAXSearchServlet</servlet-name>
    <servlet-class>com.findu.servlet.AJAXSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.findu.servlet.PageServlet</servlet-class>
  </servlet>




	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/html/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppDownloadServlet</servlet-name>
		<url-pattern>/servlet/AppDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyServlet</servlet-name>
		<url-pattern>/servlet/ApplyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoChangeServlet</servlet-name>
		<url-pattern>/servlet/InfoChangeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginOutServlet</servlet-name>
		<url-pattern>/servlet/LoginOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostGoodServlet</servlet-name>
		<url-pattern>/servlet/PostGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/servlet/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassServlet</servlet-name>
		<url-pattern>/servlet/ChangePassServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/servlet/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/servlet/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePostServlet</servlet-name>
		<url-pattern>/servlet/ChangePostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelApplyServlet</servlet-name>
		<url-pattern>/servlet/DelApplyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeApplyServlet</servlet-name>
		<url-pattern>/servlet/ChangeApplyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DealApplyServlet</servlet-name>
		<url-pattern>/servlet/DealApplyServlet</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/servlet/CheckServlet</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AJAXSearchServlet</servlet-name>
    <url-pattern>/servlet/AJAXSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/servlet/PageServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>/html/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
